@use "@/assets/scss/variables" as *;
@use "sass:color";

// Example: Styles for the main admin layout structure
.admin-layout {
  display: flex;
  min-height: 100vh; // Ensure layout takes full viewport height
}

.admin-main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column; // To make footer stick to bottom
  background-color: $bg-primary; // Main content area background
}

.admin-page-content {
  flex-grow: 1; // Allows content to push footer down
  padding: 1.5rem; // Padding for pages within the admin area
}

